# idea junk
.idea/
*.iml
out/
META-INF/

# macos junk
.DS_Store

# gradle junk
build/
.gradle/
.kotlin/

# zig junk
.zig-cache/

# aoc inputs
src/**/resources/*.txt

# definitely don't commit this
token.txt
